body {
  margin: 0;
  padding: 0;
  background-color: rgb(164, 48, 63);
  color: rgb(55, 55, 67);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.75em;
}

li {
  list-style-type: none;
}

nav {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 50px;
  background-color: rgb(18, 18, 22);
}

nav ul {
  margin: 10px 0;
  padding: 0 4% 0 4%;
  width: 92%;
}

nav li {
  margin: 0;
  padding: 0;
  width: 6em;
  text-align: center;
  float: right;
  font-size: 16pt;
}

#nav-main {
  float: none;
  display: inline-block;
  font-size: 20pt;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}

.contentw {
  background-color: white;
}

.contentr {
  background-color: rgb(164, 48, 63);
}

.contentb {
  background-color: rgb(71, 131, 174);
}

#logo {
  position: relative;
  width: 50%;
  margin: 50px auto;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 50%;
}

#logo img {
  width: 90%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 5%;
}

@media (min-width: 900px) {
  #logo {
    width: 450px;
    padding-top: 450px;
  }
}

.columns {
  margin: 50px 0;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: column;
  row-gap: 10px;
  column-gap: 2%;
}

.column {
  padding: 5px;
  text-align: center;
}

.column ul {
  padding-left: 0;
}

#appinfo {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

#appinfo p {
  text-align: left;
}

#alltimeleaderboard {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

#yesterdayleaderboard {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media (min-width: 600px) {
  .columns {
    padding: 10% 5%;
  }

  #appinfo {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #alltimeleaderboard {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #yesterdayleaderboard {
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (min-width: 992px) {
  #appinfo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #alltimeleaderboard {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #yesterdayleaderboard {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.login {
  padding: 30px;
}

.welcome {
  padding: 30px;
}

@media (min-width: 600px) {
  .login {
    padding: 10% 5%;
  }

  .welcome {
    padding: 10% 5%;
  }
}

.errors {
    color: white;
}

.googlebtn {
  width: 191px;
  height: 46px;
  text-indent: -9999px;
  background-image: url(btn_google_signin_light_normal.png);
  background-size: 191px 46px;
  display: inline-block;
}

.googlebtn:hover {
  background-image: url(btn_google_signin_light_focus.png);
}

.googlebtn:active {
  background-image: url(btn_google_signin_light_pressed.png);
}
