/* Universal formatting */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0 0 70px 0;
  background-color: rgb(18, 18, 22);
  color: rgb(55, 55, 67);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.content {
  min-height: calc(100vh - 140px);
  background-color: rgb(164, 48, 63);
}

.button {
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

input[type="text"], input[type="number"] {
    font-size: 1em;
    border-radius: 10px;
    padding: 3px;
}

input[type="submit"], #fakesubmit {
  font-size: 1em;
  margin: 25px 0 0 0;
  width: 7em;
  height: 2em;
  border: 1px solid rgb(36, 36, 37);
  border-radius: 7px;
  background-color: rgba(164, 48, 63, 0.25);
}

input[type="submit"]:hover, #fakesubmit:hover {
  background-color: rgb(164, 48, 63);
  color: white;
  cursor: pointer;
}


/* Navigation bar formatting */

.hide {
  display: none;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.75em;
}

li {
  list-style-type: none;
}

nav {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 70px;
  background-color: rgb(18, 18, 22);
}

nav ul {
  margin: 0;
  padding: 0 3% 0 4%;
}

nav li {
  margin: 0;
  padding: 0;
  width: 6em;
  text-align: center;
  float: right;
  font-size: 16pt;
}

#menu {
  position: absolute;
  z-index: 1;
  margin: 0;
  height: 40px;
  width: 100%;
  top: 70px;
  left: 0;
  background-color: rgb(18, 18, 22);
  box-shadow: 0 0 0 99999px rgba(0,0,0,.5);
}

#menu li {
  font-size: 12pt;
  height: 100%;
}

#nav-main {
  float: none;
  display: inline-block;
  font-size: 20pt;
}

#menubutton-li {
  padding-top: 10px;
}

#menubutton {
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: inherit;
  float: right;
}

#menubutton img {
  width: 30px;
  height: 30px;
}

nav a {
  display: block;
  padding: 10px 0;
  height: 100%;
  border-radius: 7px;
  text-decoration: none;
  color: whitesmoke;
}

nav a:hover {
  background-color: rgb(36, 36, 37);
  color: white;
}

@media (min-width: 600px) {
  #menubutton-li {
    display: none;
  }

  #menulist {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

/* Footer formatting */

footer {
  position: absolute;
  z-index: 2;
  bottom: 0; left: 0; right: 0;
  margin: 0;
  padding: 10px;
  height: 70px;
  background-color: rgb(18, 18, 22);
  font-size: 10pt;
  color: whitesmoke;
}

footer li {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 13em;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

footer a:hover {
  color: white;
}

@media (min-width: 600px) {
  footer li {
    float: right;
  }
}

/* Index page formatting */

.contentw {
  background-color: white;
}

.contentr {
  background-color: rgb(164, 48, 63);
}

.contentb {
  background-color: rgb(71, 131, 174);
}

#logocontainer {
  padding: 50px 0;
}

#logo {
  box-sizing: content-box;
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 50%;
}

#logo img {
  width: 90%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 5%;
}

@media (min-width: 900px) {
  #logo {
    width: 450px;
    padding-top: 450px;
  }
}

#maininfo {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: white;
}

.columns {
  margin: 0;
  padding: 0 30px 30px 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: column;
  row-gap: 10px;
  column-gap: 2%;
}

.column {
  padding: 5px;
  text-align: center;
}

.column ul {
  padding-left: 0;
}

.column ul li {
  text-align: left;
}

#appinfo {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

#appinfo p {
  text-align: left;
}

#alltimeleaderboard {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

#yesterdayleaderboard {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
}

.leaderboard {
  width: 100%;
}

.leaderboard a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.leaderboard .name {
  text-align: left;
}

.leaderboard .distance {
  text-align: right;
}

@media (min-width: 600px) {
  .columns {
    padding: 10% 5%;
  }

  #appinfo {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #alltimeleaderboard {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #yesterdayleaderboard {
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (min-width: 992px) {
  #appinfo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #alltimeleaderboard {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #yesterdayleaderboard {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* Login page formatting */

.login {
  padding: 25px 5% 50px 5%;
}

.errors {
    color: white;
}

.googlebtn {
  margin: 10px 0;
  width: 191px;
  height: 46px;
  display: inline-block;
}

.googlebtn:hover {
  content: url(btn_google_signin_light_focus.png);
}

.googlebtn:active {
  content: url(btn_google_signin_light_pressed.png);
}

@media (min-width: 992px) {
  .googlebtn {
    width: 248.3px;
    height: 59.8px;
  }
}

.consent {
  font-size: 0.6em;
  color: rgb(71, 71, 82);
}

.consent a {
  text-decoration: none;
  color: rgb(163, 62, 75);
}

/* Admin page formatting */

.admindiv {
  padding: 25px 10%;
  width: 100%;
}

.adminchoice {
  margin: 20px 0;
}

.admincontrol {
  margin-left: 20px;
}

.adminbutton {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 1em;
  border: 1px solid rgb(36, 36, 37);
  border-radius: 7px;
  background-color: rgba(164, 48, 63, 0.25);
}

.panicbutton {
  margin-top: 40px;
  padding-top: 0.3em;
  font-size: 1.2em;
  width: 7em;
  height: 2em;
  text-align: center;
}

.adminbutton:hover {
  background-color: rgb(164, 48, 63);
  color: white;
}

#usersearchlist {
  margin: 45px auto 0 auto;
  width: 60%;
}

#usersearchlist a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#usersearchlist .name {
  text-align: left;
}

#usersearchlist .distance {
  text-align: right;
}

/* Users page formatting */

.profilediv {
  padding: 25px 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profilediv h1, h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

#distancediv {
  margin: 25px auto;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.chart {
  margin: 25px auto;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#googlefit {
  margin: 25px auto;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

#googlefit p {
  font-size: 0.7em;
}

@media (min-width: 992px) {
  .profilediv {
    padding: 25px 5% 50px 5%;
  }

  #distancediv {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #profile .chart {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #googlefit {
    margin: 0;
  }
}

/* Privacy Policy and Terms of Service formatting */

.legal {
  padding: 25px 5% 50px 5%;
}

.legalheader {
  padding: 25px;
  color: whitesmoke;
}

.legalheader h2, .legalheader p {
  text-align: center;
}

.legal h3 {
  margin-top: 50px;
}

.legal a {
  text-decoration: none;
  color: rgb(164, 48, 63);
}
