{% extends "utils/layout.html" %}
{% block body %}
<div class="contentw admindiv">
  <h1>Admin Page</h1>
  <div class="adminchoice">
    <a href="/admin/searchforuser" class="button adminbutton">Search For User</a> Click to open a search page to search for a user.
  </div>
  <div class="adminchoice">
    <a href="/admin/searchforteam" class="button adminbutton">Search For Team</a> Click to see all teams.
  </div>
  <div class="adminchoice">
    <a href="/admin/updatetotal" class="button adminbutton">Update Total</a> Click to refresh user and global distance totals. Can take a long time.
  </div>
  <div class="adminchoice">
    <a href="/admin/updateteamtotal" class="button adminbutton">Update Team Total</a> Click to refresh team totals from user totals. Can take a long time.
  </div>
  <div class="adminchoice">
    <a href="/admin/editpayments" class="button adminbutton">Edit Eligibility</a> Click to edit users' eligibility status (payment of participation fee).
  </div>
  <div class="adminchoice">
    <a href="/admin/editannouncements" class="button adminbutton">Edit Announcements</a> Click to edit announcements.
  </div>
  <div class="adminchoice">
    <a href="/admin/editmultipliers" class="button adminbutton">Edit Multipliers</a> Click to edit multiplier days.
  </div>
</div>
{% endblock %}
