{% extends "utils/layout.html" %}
{% block body %}
<div class="legal contentw">
    {% if displayeos %}
    <h1>This site isn't supported</h1>
    <p>
        If you go to WCI and are willing to take over mainenance until you graduate,
        please go <a href="https://github.com/WCI-Computer-Science/WCI-Walks" target="_blank">here</a>
        and follow the instructions in the README file.
    </p>
    {% else %}
    <h1>Contact Us</h1>
    <p>
        If you have a suggestion or request for a feature,
        or if you have questions or concerns,
        feel free to contact us!
        You can reach as through our email
        <a href="mailto:wcicomputerscience@gmail.com" target="_blank">wcicomputerscience@gmail.com</a>,
        or DM us on Instagram @wci_computer_science.
        {% if current_user is defined and current_user.is_authenticated and current_user.is_admin() %}
            <br />
            If you need urgently help with something related to admin powers, please contact <a href="mailto:olent1333@wrdsb.ca,octocat@github.com?subject=WCI%20Walks%20admin%20help" target="_blank">Tristan and The Octocat</a> directly.
        {% endif %}
    </p>
    {% endif %}
</div>
{% endblock %}
