{% extends "utils/layout.html" %}
{% block body %}
<div class="legal contentw">
    <h1>Contact Us</h1>
    <p>
        If you have a suggestion or request for a feature,
        or if you have questions or concerns,
        feel free to contact us!
        You can reach as through our email
        <a href="mailto:wcicomputerscience@gmail.com" target="_blank">wcicomputerscience@gmail.com</a>,
        or DM us on Instagram @wci_computer_science.
        {% if current_user is defined and current_user.is_authenticated and current_user.is_admin() %}
            <br />
            If you need urgently help with something related to admin powers, please contact <a href="mailto:olent1333@wrdsb.ca,haos8097@wrdsb.ca?subject=WCI%20Walks%20admin%20help" target="_blank">Tristan and Scott</a> directly.
        {% endif %}
    </p>
</div>
{% endblock %}
