{% extends "utils/layout.html" %}
{% block body %}
<div class="content contentw admindiv">
  <h1>Delete {{wrdsbusername}}</h1>
  <p>
    Are you sure you want to do this?<br />
    If you are, type "{{wrdsbusername}}" into the box below.
  </p>
  {% for message in get_flashed_messages() %}
    <div class='message'><p>{{ message }}</p></div>
  {% endfor %}
  <form method="post">
    <div>
      <input type="text" name="confirm"></input>
    </div>
    <div>
      <a class="button" id="adminbutton" href="/users/viewprofile/{{wrdsbusername}}">Go Back</a><br />
    </div>
    <input type="submit" value="Delete!"></input>
  </form>
{% endblock %}
