{% extends "utils/layout.html" %}
{% block body %}
<div class="content contentw admindiv">
  <h1>Delete {{username}}</h1>
  <div class="adminchoice">
    <p>
      Are you sure you want to do this?<br />
      If you are, type "{{wrdsbusername}}" into the box below.
    </p>
    {% for message in get_flashed_messages() %}
      <div class='message'><p>{{ message }}</p></div>
    {% endfor %}
    <form method="post">
      <div>
        <input type="text" name="confirm"></input>
      </div>
      Ban user from site aswell? <input type="checkbox" name="ban"></input><br />
      <input type="submit" value="Delete"></input>
    </form>
  </div>
  <div class="adminchoice">
    <a class="button adminbutton panicbutton" href="/users/viewprofile/{{wrdsbusername}}">Go Back!</a><br />
  </div>
{% endblock %}
