{% extends "utils/layout.html" %}
{% block body %}
<div class="legal contentw">
    <h1>Help</h1>

    <div class="legalheader contentr">
        <h2>About this app</h2>
        <p>
            Log your distance, compete for the leaderboard, and more!
            This guide walks you through each component of the app.
        </p>
    </div>
    <p>
        To skip to a specific section, click one of the entries below:</br>
        <a href="#helploggingin">Logging In</a></br>
        <a href="#helpwalks">Adding Walks</a></br>
        <a href="#helpstatistics">Statistics</a></br>
        <a href="#helpsocial">Social Features</a>
    </p>

    <h3 id="helploggingin">Logging In</h3>
    <p>
        To login, you may need to register with the walkathon manager.
        This might be the school, or it might be a club.
        Just make sure you're signed up for the walkathon!
    </p>
    <p>
        To access the site, simply select "Log In" from the menu
        at the top right of the screen. You must use your WRDSB email.
    </p>

    <h3 id="helpwalks">Adding Walks</h3>
    <p>
        You have two options to add your walks.
        You can sync with Strava on your phone to do it automatically,
        or you can manually input them yourself.
    </p>
    <p>
        Each time you enter distance, it is counted towards your total for that day.
        You cannot change distances from previous days.
        If you need to do that, please <a href="/contact">contact us</a>.
    </p>
    <h4 id="helpwalksfit">Strava</h5>
    <p>
        To sync with Strava, you first need to download the
        <a href="https://www.strava.com/mobile">Strava</a> app on your phone,
        and create an account if you have not done so already.
    </p>
    <p>
        After you've done that, head to your
        <a href="/users/">Profile</a> and click on "Connect to Strava", then sign in to your Strava account.
        Now {{ app_name() }} will automatically get distance from your Strava account.
    </p>
    <p>
        <strong>However</strong>, in order to get distances to show up, 
        you need to ensure they've shown up in the Strava app.
    </p>
    <h4 id="helpwalksmanual">Manual Inputting</h5>
    <p>
        To manually input distances, simply head to your
        <a href="/users/">Profile</a>,
        enter your distance in km into the form, and click submit.
    </p>

    <h3 id="helpstatistics">Statistics</h3>
    <p>
        Check your progress with statistics!
        From your <a href="/users/">Profile</a>, you can see how much you've walked
        and a chart that shows how far you've walked each day.
    </p>
    <p>
        You also see which position on the leaderboard you're at,
        as well as how many likes you have (see Social Features!).
    </p>
    <p>
        From the home page, you can also see how far everybody has walked as a whole.
    </p>

    <h3 id="helpsocial">Social Features</h3>
    <p>
        There's a couple of social features built into this app too!
    </p>
    <p>
        The top 30 people will be shown on the leaderboard.
        There's an all-time leaderboard for total walk distance,
        as well as a day leaderboard that ranks whoever has walked so far today.
    </p>
    <p>
        To see someone else's walk statistics, simply click on their name on the leaderboard.
        You can "like" them by clicking on the heart icon beside their name.
        Don't worry, likes are anonymous!
    </p>

    <h3>Other Questions</h3>
    <p>If you still have any questions, feel free to <a href="/contact">contact us</a>!</p>
</div>
{% endblock %}
