{% extends "utils/layout.html" %}
{% block body %}
<div id='logocontainer'>
    <div id='logo' class='contentw'>
        <img src="{{ url_for('static', filename='walk4hopelogo.png') }}" loading="lazy" alt="logo">
    </div>
</div>

<div id='maininfo' class='contentb'>
    <h1>Our Walk For Hope</h1>
        {% if total['distance'] %}
            <h2>In total, we've walked {{ total['distance'] }}km!</h2>
        {% else %}
            <h2>Let's get walking!</h2>
        {% endif %}
</div>

<div class='columns contentw'>
    <div id='appinfo' class="column">
        <h2>About this app</h2>
        <p>
            Welcome to WCI Walks, a web app
            that helps you track your walkathon distances.
            Log your distance each day,
            compete with others on the leaderboards,
            or check out your friends' progress!
            You can also check out your own
            walking statistics from your profile.</br>
            To get started, please login from the menu using your WRDSB account.
        </p>
    </div>

    <div  id="alltimeleaderboard" class="column">
        <h2>All Time Leaderboard</h2>
        <table class="leaderboard">
            {% if alltimeleaderboard|length > 0 and alltimeleaderboard[0][1] > 0 %}
                {% for i in range(0, [alltimeleaderboard|length, 21] | min) %}
                    {% if alltimeleaderboard[i][1]>0 %} 
                        <tr>
                            <td class="rank">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{i+1}}.
                                </a>
                            </td>
                            <td class="name">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{alltimeleaderboard[i][0]}}
                                </a>
                            </td>
                            <td class="distance">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{alltimeleaderboard[i][1]}} km
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr><td>No one's walked yet.</td></tr>
            {% endif %}
        </table>
    </div>

    <div id='yesterdayleaderboard' class="column">
        <h2>Yesterday's Leaderboard</h2>
        <table class="leaderboard">
            {% if yesterdayleaderboard|length > 0 and yesterdayleaderboard[0][1] > 0 %}
                {% for i in range(0, [yesterdayleaderboard|length, 21] | min) %}
                    {% if yesterdayleaderboard[i][1]>0 %}
                        <tr>
                            <td class="rank">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{i+1}}.
                                </a>
                            </td>
                            <td class="name">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{yesterdayleaderboard[i][0]}}
                                </a>
                            </td>
                            <td class="distance">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{yesterdayleaderboard[i][1]}} km
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr><td>No one walked yesterday.</td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
