{% extends "utils/layout.html" %}

{% block scripts %}
    <script>
        function viewteams() {
            document.getElementById('alltimeleaderboard').style.display = 'none';
            document.getElementById('yesterdayleaderboard').style.display = 'none';
            document.getElementById('switchteamview').style.display = 'none';
            document.getElementById('alltimeteamleaderboard').style.display = 'inline';
            document.getElementById('yesterdayteamleaderboard').style.display = 'inline';
            document.getElementById('switchuserview').style.display = 'inline';
        }
        function viewusers() {
            document.getElementById('alltimeteamleaderboard').style.display = 'none';
            document.getElementById('yesterdayteamleaderboard').style.display = 'none';
            document.getElementById('switchuserview').style.display = 'none';
            document.getElementById('alltimeleaderboard').style.display = 'inline';
            document.getElementById('yesterdayleaderboard').style.display = 'inline';
            document.getElementById('switchteamview').style.display = 'inline';
        }
    </script>
{% endblock %}

{% block body %}
<div id='logocontainer'>
    <div id='logo' class='contentw'>
        <img src="{{ url_for('static', filename='1sc2c_logo.png') }}" loading="lazy" alt="logo" width="85%">
    </div>
</div>

<div id='maininfo' class='contentb'>
    <h1>One Step Closer to Change</h1>
        {% if total %}
            <h2>In total, we've walked {{ total }}km!</h2>
        {% else %}
            <h2>Let's get walking!</h2>
        {% endif %}
</div>

{% if announcements | length > 0 %}
    <div id='tempalert'>
        <h2>Notice</h2>
        {% for i in announcements %}
            <h3>{{ i[1] }}</h3>
        {% endfor %}
    </div>
{% endif %}

<div class='columns contentw'>

    <div id='switchview'>
        <button id='switchteamview' onclick='viewteams();'>See Team Leaderboards</button>
        <button id='switchuserview' style='display: none' onclick='viewusers();'>See Leaderboards</button>
    </div>

    <div id='appinfo' class="column">
        <h2>About</br>this app</h2>
        <p>
            Welcome to WCI Walks, a platform
            for your walkathon progress.
        </p>
        <p>
            To get started, please login from the menu using your WRDSB account.
        </p>
        <p>
            For instructions on how to use this app, click <a href="/help">here</a>.
        </p>
    </div>

    <div id="alltimeleaderboard" class="column">
        <h2>All Time</br>Leaderboard</h2>
        <table class="leaderboard">
            {% if alltimeleaderboard|length > 0 and alltimeleaderboard[0][1] > 0 %}
                <tr>
                    <th></th>
                    <th class="name">
                        Name
                    </th>
                    <th class="distance">
                        km
                    </th>
                </tr>
                {% for i in range(0, [alltimeleaderboard|length, 30] | min) %}
                    {% if alltimeleaderboard[i][1]>0 %} 
                        <tr>
                            <td class="rank">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{i+1}}.
                                </a>
                            </td>
                            {% if alltimeleaderboard[i][0]|length > 16 %}
                                <td class="name small">
                            {% else %}
                                <td class="name">
                            {% endif %}
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{alltimeleaderboard[i][0]}}
                                </a>
                            </td>
                            <td class="distance">
                                <a href="/users/viewprofile/{{alltimeleaderboard[i][2]}}">
                                    {{alltimeleaderboard[i][1]}}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr><td>No one's walked yet.</td></tr>
            {% endif %}
        </table>
    </div>

    <div id='yesterdayleaderboard' class="column">
        <h2>Day</br>Leaderboard</h2>
        <table class="leaderboard">
            {% if yesterdayleaderboard|length > 0 and yesterdayleaderboard[0][1] > 0 %}
                <tr>
                    <th></th>
                    <th class="name">
                        Name
                    </th>
                    <th class="distance">
                        km
                    </th>
                </tr>
                {% for i in range(0, [yesterdayleaderboard|length, 30] | min) %}
                    {% if yesterdayleaderboard[i][1]>0 %}
                        <tr>
                            <td class="rank">
                                <a href="/users/viewprofile/{{yesterdayleaderboard[i][2]}}">
                                    {{i+1}}.
                                </a>
                            </td>
                            {% if yesterdayleaderboard[i][0]|length > 16 %}
                                <td class="name small">
                            {% else %}
                                <td class="name">
                            {% endif %}
                                <a href="/users/viewprofile/{{yesterdayleaderboard[i][2]}}">
                                    {{yesterdayleaderboard[i][0]}}
                                </a>
                            </td>
                            <td class="distance">
                                <a href="/users/viewprofile/{{yesterdayleaderboard[i][2]}}">
                                    {% if multiplier %}
                                        {{yesterdayleaderboard[i][1]}} x {{multiplier}}
                                    {% else %}
                                        {{yesterdayleaderboard[i][1]}}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr><td>No one walked today yet.</td></tr>
            {% endif %}
        </table>
    </div>

    <div id="alltimeteamleaderboard" class="column" style="display: none">
        <h2>All Time</br>Team Leaderboard</h2>
        <table class="leaderboard">
            {% if alltimeteamleaderboard|length > 0 %}
                <tr>
                    <th></th>
                    <th class="name">
                        Team
                    </th>
                    <th class="distance">
                        km
                    </th>
                </tr>
                {% for i in range(0, [alltimeteamleaderboard|length, 30] | min) %}
                    <tr>
                        <td class="rank">
                            <a href="/users/viewteam/{{alltimeteamleaderboard[i][2]}}">
                                {{i+1}}.
                            </a>
                        </td>
                        {% if alltimeteamleaderboard[i][0]|length > 16 %}
                            <td class="name small">
                        {% else %}
                            <td class="name">
                        {% endif %}
                            <a href="/users/viewteam/{{alltimeteamleaderboard[i][2]}}">
                                {{alltimeteamleaderboard[i][0]}}
                            </a>
                        </td>
                        <td class="distance">
                            <a href="/users/viewteam/{{alltimeteamleaderboard[i][2]}}">
                                {{alltimeteamleaderboard[i][1]}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No team has walked yet.</td></tr>
            {% endif %}
        </table>
    </div>

    <div id='yesterdayteamleaderboard' class="column" style="display: none">
        <h2>Day</br>Team Leaderboard</h2>
        <table class="leaderboard">
            {% if yesterdayteamleaderboard|length > 0 and yesterdayteamleaderboard[0][1] > 0 %}
                <tr>
                    <th></th>
                    <th class="name">
                        Team
                    </th>
                    <th class="distance">
                        km
                    </th>
                </tr>
                {% for i in range(0, [yesterdayteamleaderboard|length, 30] | min) %}
                    <tr>
                        <td class="rank">
                            <a href="/users/viewteam/{{yesterdayteamleaderboard[i][2]}}">
                                {{i+1}}.
                            </a>
                        </td>
                        {% if yesterdayteamleaderboard[i][0]|length > 16 %}
                            <td class="name small">
                        {% else %}
                            <td class="name">
                        {% endif %}
                            <a href="/users/viewteam/{{yesterdayteamleaderboard[i][2]}}">
                                {{yesterdayteamleaderboard[i][0]}}
                            </a>
                        </td>
                        <td class="distance">
                            <a href="/users/viewteam/{{yesterdayteamleaderboard[i][2]}}">
                                {% if multiplier %}
                                    {{yesterdayteamleaderboard[i][1]}} x {{multiplier}}
                                {% else %}
                                    {{yesterdayteamleaderboard[i][1]}}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No team has walked today yet.</td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
