{% extends "utils/layout.html" %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    function genchart() {
        var ctx = document.getElementById('myChart');
        {% if labels|length > 0 %}
            console.log("ok");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for i in labels %}"{{ i }}",{% endfor %}],
                    datasets: [{
                        label: "{{ name }}",
                        data: [{% for i in data %}{{ i }},{% endfor %}],
                        borderColor: 'rgb(84, 55, 103)',
                        backgroundColor: 'rgba(84, 55, 103, 0.2))',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 42,
                                suggestedMin: 0
                            }
                        }]
                    }
                }
            });
        {% endif %}
        ctx.style.width = 0.9 * window.screen.width;
    }

    window.onload = () => {
        genchart();
    }
</script>
{% endblock %}

{% block body %}
<div id="otherprofile" class="profilediv contentw">
    <div class="chart">
        <h1>{{ name }}'s distances: {% if userid in current_user.get_liked() %}<a href="/users/unlike/{{ wrdsbusername }}"><img src="../../static/filled_heart.png" height="30" alt="Unlike"/></a>{% else %}<a href="/users/like/{{ wrdsbusername }}"><img src="../../static/empty_heart.png" height="30" alt="Like"/></a>{% endif %}</h1>
        {% if current_user is defined and current_user.is_authenticated and current_user.is_admin() %}
            <span class="admincontrol" style="float:right">
                <a class="button adminbutton" href="/admin/deleteuser/{{ wrdsbusername }}">Delete user</a>
            </span>
            <span class="admincontrol" style="float:right">
                <a class="button adminbutton" href="/admin/edituserdistances/{{ wrdsbusername }}">Edit distances</a>
            </span>
        {% endif %}
        <canvas id="myChart"></canvas>
    </div>
</div>
{% endblock %}
