{% extends "utils/layout.html" %}
{% block body %}
<div class="legal contentw">
    <h1>Privacy Policy</h1>

    <div class="legalheader contentr">
        <h2>We care about your privacy.</h2>
        <p>
            So much, in fact, that we barely store any information about you at all.
            For legal reasons, however, we have laid out this privacy policy.
        </p>
    </div>

    <p>
        This Privacy Policy ("this policy") applies to the data collection and usage 
        for all users of the {{ app_name() }} website ("this website" or "this site"),
        which is managed by the WCI Computer Science Club ("we", "us", or "our").
        PLEASE READ THIS PRIVACY POLICY IN ITS ENTIRETY, as by using this site,
        you consent to this policy and our
        <a href="/termsofservice">Terms of Service</a>.
    </p>

    <h3>Information We Collect</h3>
    <p>
        No information about you is obtained unless you log in.
        That means if you contact us outside of the app, such as
        through email, we do not store any of that information in the app,
        nor do we associate it with your account unless you explicitly
        request us to.
    </p>
    <p>
        We store information about you when you log in,
        submit distances on your profile,
        or perform any other action on this site linked to your account.
        The personal information we store about you is limited to
        your first and last name, your WRDSB email, and the distance you've traveled
        {% if ui_settings.enableStrava %}(whether that be distance you manually input, or distance taken from Strava){% endif %}.
        {% if ui_settings.enableStrava %}We will request Strava data from you, but won't access it unless you enable
        automatic distance tracking from your profile.{% endif %}
    </p>
    <p>
        We reserve the right to share your name and your distance information,
        which is necessary in order to perform our leaderboard rankings.
    </p>

    <h3>Third Party Sites</h3>
    <p>
        Please note that this website uses third party services,
        and during use of this site you will be subject to their privacy policies.
        Note that we are not affiliated with these third parties, we simply use their services.
        </br>
        We use Google's authentication services. For privacy information, please see
        <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
        </br>
        We use Heroku's web hosting services. For privacy information, please see
        <a href="https://www.heroku.com/policy/privacy">https://www.heroku.com/policy/privacy</a>.
        </br>
        {% if ui_settings.enableStrava %}We use Strava's walk API services. For privacy information, please see
        <a href="https://www.strava.com/legal/privacy">https://www.strava.com/legal/privacy</a>.
        </br>{% endif %}
        We are not responsible for the practices of any third party sites.
    </p>

    <h3>Security and Accuracy</h3>
    <p>
        Your information is always kept safe and secure.
        We use an encrypted https connection, so your data is safe in transit.
        Additionally, your personal data is stored in a Heroku PostgreSQL database, 
        which is only accessible to us. We have taken steps to ensure maximum security
        of your data, but no technology is infallible.
        In the off chance that a data breach occurs, we will ensure transparency,
        and will notify all users of this site with a notice and via email.
        We are not liable for any breaches of data, or any consequences thereof.
    </p>
    <p>
        We want to help keep your information always as up to date as possible.
        If any changes occur to your personal information and you would like those
        changes to be reflected in this website,
        or if you would like to delete your account, please email us at
        <a href="mailto:wcicomputerscience@gmail.com">wcicomputerscience@gmail.com</a>.
    </p>

    <h3>Authentication and Cookies</h3>
    <p>
        We authenticate users with Google using the OAuth 2.0 protocol.
        This system is secure, and ensures that only you are able to get into
        your account.
    </p>
    <p>
        This site uses cookies solely for authentication. That means we only use a
        cookie in order to keep you logged in, so that our site knows who you are.
        We do not have any advertisements, nor work with any other third parties apart
        from the ones laid out in <strong>Third Party Sites</strong>.
    </p>

    <p>
        If you have any questions or concerns, please
        <a href="/contact">contact us</a>.
    </p>
</div>
{% endblock %}