{% extends "utils/layout.html" %}
{% block scripts %}
<script>
    async function generateTable() {
        let text = encodeURIComponent(document.getElementById('name').value);
        let userlist = await fetch('/admin/getuserlist?text=' + text);
        userlist = await userlist.json();
        console.log(userlist);

        let table = document.getElementById('usersearchlist').getElementsByTagName('tbody')[0];
        table.innerHTML = '';

        if (userlist.length > 0)
            for (i of userlist) {
                let row = table.insertRow();
                let endpoint = '/users/viewprofile/' + i[2];

                let nameData = row.insertCell();
                let nameLink = document.createElement('a');
                let nameText = document.createTextNode(i[0]);
                nameLink.appendChild(nameText);
                nameLink.href = endpoint;
                nameData.appendChild(nameLink);
                nameData.classList.add('name');

                let distanceData = row.insertCell();
                let distanceLink = document.createElement('a');
                let distanceText = document.createTextNode(i[1]);
                distanceLink.appendChild(distanceText);
                distanceLink.href = endpoint;
                distanceData.appendChild(distanceLink);
                distanceData.classList.add('distance');

            }
        else {
            let row = table.insertRow();
            let data = row.insertCell();
            data.appendChild(document.createTextNode("No matches found!"));
        }
    }

    window.onload = () => {
        generateTable();
    }

</script>
{% endblock %}
{% block body %}
<div class="contentw admindiv">
    <h1>Search For User</h1>
    <hr />
    <label for="name">Enter a name:</label>
    <input id="name" name="name" type="text" onchange="generateTable()"><br />
    <button onclick="generateTable()" id="adminbutton">Search</button><br />
    <table id="usersearchlist">
        <thead>
            <tr>
                <th class="name">
                    Name
                </td>
                <th class="distance">
                    Distance walked
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Loading...
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

