{% extends "utils/layout.html" %}
{% block scripts %}
<script>
    function confirmDelete(wrdsbusername) {
        window.location.replace("/admin/removeteammember/{{teamid}}/" + wrdsbusername);
    }

    function confirmDeleteTeam() {
        if (window.confirm("Are you sure you want to delete this team? This action cannot be undone."))
            window.location.replace("/admin/teams/delete/{{teamid}}");
    }

    async function generateTable() {
        let memberlist = await fetch('/admin/getteammemberlist/{{teamid}}');
        memberlist = await memberlist.json();

        let table = document.getElementById('searchlist').getElementsByTagName('tbody')[0];
        table.innerHTML = '';

        if (memberlist.length > 0)
            for (i of memberlist) {
                let row = table.insertRow();

                let data = row.insertCell();
                let text = document.createTextNode(i[0]);
                data.appendChild(text);
                data.setAttribute('onclick', `confirmDelete("${i[2]}")`);
                data.classList.add('buttonrow');

                data = row.insertCell();
                text = document.createTextNode(i[1]);
                data.appendChild(text);
                data.setAttribute('onclick', `confirmDelete("${i[2]}")`);
                data.classList.add('buttonrow');
            }
        else {
            let row = table.insertRow();
            let data = row.insertCell();
            data.appendChild(document.createTextNode("No members"));
        }
    }

    window.onload = () => {
        generateTable();
    }
</script>
{% endblock %}
{% block body %}
<div id="jointeam" class="admindiv contentw">
    <h1>Edit Team: {{ teamdata[0] }}</h1>
    <div class="teaminfo">
        <a onclick="confirmDeleteTeam(); return false;" class="adminbutton">Delete</a>
        <h4>Distance: {{ teamdata[1] }}</h4>
        {% for message in get_flashed_messages() %}
            <div class='message'><p>{{ message }}</p></div>
        {% endfor %}
        <form method="post">
            <h2>Change name</h2>
            <label for="name">New name:</label>
            <input id="name" name="name" type="text">
            <input type="submit" value="Update">
        </form>
        <h2>Remove Members</h2>
        <p>Click on a user to remove them from the team.</p>
        <table id="searchlist">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Distance
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Loading...
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}