{% extends "utils/layout.html" %}

{% block scripts %}
{% if teamdata is defined %}
<script>
    function confirmLeave() {
      if (window.confirm("Leave {% if teamdata != None %}{{ teamdata[0] }}{% endif %}?\nYou won't be able to re-join unless you have the join code.{% if current_user.alone_on_team() %}\nLeaving the team could cause the team to be deleted.{%endif%}"))
          window.location.replace("/users/teams/leave");
  }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="jointeam" class="admindiv contentw">
    <h1>{{ teamdata[0] }}</h1>
    {% if current_user is defined and current_user.is_authenticated and current_user.is_admin() %}
    <div id="teamadmin">
        {% if teamdata[2] != None and yourteam is not defined %}
            <h4>Join code: {{ teamdata[2] }}</h4>
        {% endif %}
        <span class="admincontrol" style="float:right">
            <a href="/admin/teams/edit/{{teamid}}" class="button adminbutton">Edit</a>
        </span>
        {% if teamdata[2] != None %}
            <span class="admincontrol" style="float:right">
                <a href="/admin/teams/removejoincode/{{teamid}}" class="button adminbutton">Remove Join Code</a>
            </span>
            <span class="admincontrol" style="float:right">
                <a href="/admin/teams/newjoincode/{{teamid}}" class="button adminbutton">New Join Code</a>
            </span>
        {% else %}
            <span class="admincontrol" style="float:right">
                <a href="/admin/teams/newjoincode/{{teamid}}" class="button adminbutton">Create Join Code</a>
            </span>
        {% endif %}
    </div>
    {% endif %}
    <div class="teaminfo">
        {% if yourteam is defined %}
            <h3>Your team</h3>
        {% else %}
            <h3>Competing team</h3>
        {% endif %}
        <h4>Distance: {{ teamdata[1] }} km</h4>
        {% if yourteam is defined %}
            {% if teamdata[2] != None %}
            <h4>Join code: {{ teamdata[2] }}<br /></h4>
            {% endif %}
        {% endif %}
    </div>
    <div class="teammembers">
        <h3>Members</h3>
        <ul>
        {% for m in members %}
            <li><a href="/users/viewprofile/{{ m[2] }}">{{ m[0] }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% if yourteam is defined %}
        <a onclick="confirmLeave()" class="button adminbutton fixwidth">Leave Team</a><br />
    {% endif %}
</div>
{% endblock %}
