{% extends "utils/layout.html" %}

{% block scripts %}
{% if teamdata is defined %}
<script>
    function confirmLeave() {
      if (window.confirm("Leave {% if teamdata != None %}{{ teamdata[0] }}{% endif %}?\nYou won't be able to re-join unless you have the join code.{% if current_user.alone_on_team() %}\nLeaving the team could cause the team to be deleted.{%endif%}"))
          window.location.replace("/users/teams/leave");
  }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="jointeam" class="admindiv contentw">
    <h1>{{ teamname }}</h1>
    {% if teamdata is defined %}
        <div class="teaminfo">
            <h3>Your team</h3>
            <h4>
            {% if teamdata[1] != None %}
                Join code: {{ teamdata[1] }}<br />
                <a href="/users/teams/newjoincode" class="button adminbutton">New Join Code</a>
                <a href="/users/teams/removejoincode" class="button adminbutton">Remove Join Code</a>
            {% else %}
                <a href="/users/teams/newjoincode" class="button adminbutton">Create Join Code</a>
            {% endif %}
            </h4>
        </div>
    {% endif %}
    <div class="teammembers">
        <h3>Members</h3>
        <ul>
        {% for m in members %}
            <li><a href="/users/viewprofile/{{ m[2] }}">{{ m[0] }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% if teamdata is defined %}
        <a onclick="confirmLeave()" class="button adminbutton">Leave Team</a><br />
    {% endif %}
</div>
{% endblock %}
