{% extends "utils/layout.html" %}
{% block body %}
<div id="jointeam" class="admindiv contentw">
    <h1>Teams</h1>
    <div class="teaminfo">
        {% for message in get_flashed_messages() %}
            <div class='message'><p>{{ message }}</p></div>
        {% endfor %}
        <form action="/users/teams/join" method="post">
            <label for="joincode">Join Code:</label>
            <input id="joincode" name="joincode" type="text" minlength="6" required><br />
            <input type="submit" value="Join Team">
        </form>
        <br /><br />
        {% if current_user is defined and current_user.is_authenticated and current_user.is_admin() %}
            <a href="/admin/teams/create" class="button adminbutton">Create Team</a><br />
        {% endif %}
    </div>
</div>
{% endblock %}
