{% extends "utils/layout.html" %}
{% block body %}
<div class="legal contentw">
    <h1>Terms of Service</h1>

    <div class="legalheader contentr">
        <h2>We're committed to your satisfaction.</h2>
        <p>
            These terms outline our standards we hold ourselves to,
            as well as basic guidelines you're expected to follow.
        </p>
    </div>

    <p>
        These Terms of Service (“terms”) apply to all users of the
        WCI Walks website (“this website” or “this site”),
        which is managed by the WCI Computer Science Club (“we”, “us”, or “our”).
        PLEASE READ THESE TERMS IN ITS ENTIRETY,
        since by continuing to use this website you consent to these terms,
        as well as to our 
        <a href="/privacypolicy">Privacy Policy</a>.
    </p>
    <p>
        We reserve the right to change these terms or the privacy policy
        at any point in the future, in which case we will post a notice
        on this website, via email, or through some other means of communication.
    </p>

    <h3>Our Standards</h3>
    <p>
        We are dedicated to ensuring the best possible experience for you,
        so we will strive to answer general concerns unrelated to personal information,
        and to act on suggestions or requests for a specific feature.
        These actions are not guaranteed however, and is up to our discretion.
        ALL OF OUR SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
    </p>
    <p>
        We are committed to ensuring fair participation,
        so we will do our best to prevent falsification of walk distances.
        It’s also our goal to have a safe community, and we reserve the right to take
        any reasonable action, such as suspension or termination of your accounts,
        in order to uphold these standards.
    </p>

    <h3>Your Responsibilities</h3>
    <p>
        By using this site, you must be respectful of others.
        You must be committed to keeping this community a safe and equitable space.
        You must uphold the following responsibilities:
        <ol>
            <li>
                Respect the privacy and basic rights of other users of this site.
            </li>
            <li>
                Don’t abuse or harm (or encourage such abuse or harm) yourself or others,
                through any means whatsoever.
            </li>
            <li>
                Do not attempt to abuse this website or any of its provided services,
                or attempt to sabotage any technological component.
            </li>
            <li>
                Log your distances accurately to the best of your knowledge,
                and do not attempt to cheat in any way.
            </li>
            <li>
                Adhere to laws and school guidelines during your use of this site,
                during your walks, or any other time where you are affiliated with us.
            </li>
        </ol>
    </p>
    <p>
        If we suspect you of failing to uphold these terms,
        we reserve the right to suspend your account, to terminate it,
        or to take any other reasonable action.
    </p>

    <h3>Other Issues</h3>
    <h4>
        Warranties
    </h4>
    <p>
        Our commitments are outlined in the Privacy Policy,
        and in the "Our Standards" section of these terms.
        We do not make any other commitments about this site,
        or any warranties about our services.
    </p>
    <h4>
        Liabilities
    </h4>
    <p>
        BY CONTINUING TO USE THIS WEBSITE, YOU ACKNOWLEDGE AND AGREE
        THAT, TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW,
        IN NO EVENT WILL THE WCI COMPUTER SCIENCE CLUB,
        OR ANY OF ITS AFFILIATED PERSONNEL OR ORGANIZATIONS,
        BE LIABLE IN ANY FORM TO YOU OR ANY OTHER PARTY
        FOR ANY DIRECT OR INDIRECT LOSS, DAMAGE, COST, EXPENSE, HARM,
        OR LIABILITY OF ANY KIND ("LOSS") ARISING IN ANY WAY
        OUT OF OR IN CONNECTION WITH THE AVAILABILITY,
        USE, INABILITY TO USE, OR RELIANCE ON THE WCI WALKS WEBSITE
        AND ITS AFFILIATED SERVICES, INCLUDING BUT NOT LIMITED TO:
        PERSONAL INJURY, LOSS OF DATA, DAMAGE TO YOUR DEVICE,
        UNAUTHORIZED ACCESS/MODIFICATION TO YOUR ACCOUNT,
        OR ANY DATA BREACH AND THE CONSEQUENCES THEREOF.
        </br>
        YOU AGREE THAT THIS LIMITATION OF LIABILITY APPLIES REGARDLESS
        OF THE FORM OF ACTION, WHETHER IN BREACH OF CONTRACT,
        TORTIOUS BEHAVIOUR, NEGLIGENCE, OR OTHERWISE,
        EVEN IF THE WCI COMPUTER SCIENCE CLUB, OR ANY OF ITS AFFILIATED
        PERSONNEL OR ORGANIZATIONS, HAS BEEN ADVISED OF THE POSSIBILITY
        OF SUCH LOSS OR DAMAGE.
        </br>
        IF APPLICABLE LAW DOES NOT ALLOW ANY PART(S) OF THE ABOVE
        LIMITATION OF LIABILITY TO APPLY, THEN THE LIMITATIONS WILL
        APPLY TO YOU TO THE EXTENT PERMITTED BY LAW, AND MINIMIZE
        WCI COMPUTER SCIENCE CLUB'S LIABILITY.
    </p>

    <p>
        If you have any questions or concerns, please
        <a href="/contact">contact us</a>.
    </p>
</div>
{% endblock %}