{% extends "utils/layout.html" %}

{% block scripts %}
  <script>
    function updateImagePreview(input) {
      file = input.files[0];
      console.log(file);
      if (file.type == "image/png") {
        document.getElementById("filename").innerText = file.name;
        document.getElementById("imagepreview").src = URL.createObjectURL(file);
      }
    }
  </script>
  <script src="{{ url_for('static', filename='hide_show_password.js') }}"></script>
{% endblock %}

{% block body %}
<div class="contentw admindiv">
  <h1>Edit App Settings</h1>
  {% for message in get_flashed_messages() %}
    <div class='message'><h3>{{ message }}</h3></div>
  {% endfor %}
  <form method="post" enctype="multipart/form-data">
    <h3>Walk Settings</h3>
    <input id="enablestrava" name="enableStrava" type="checkbox" {% if ui_settings["enableStrava"] %}checked{% endif %}>
    <label for="enablestrava">Enable Strava</label><br />
    <input id="showwalksbyhour" name="showWalksByHour" type="checkbox" {% if ui_settings["showWalksByHour"] %}checked{% endif %}>
    <label for="showwalksbyhour">Show walks by hour</label><br />
    <label for="walkunit">Walk unit (km/laps/...): </label><input id="walkunit" name="walkUnit" type="text" value="{{ui_settings["walkUnit"]}}"><br />
    <label for="unitconversion">Conversion between unit and km: </label><input id="unitconversion" name="unitConversion" type="text" value="{{fancy_float(ui_settings["unitConversion"])}}"><br />
    <hr>
    <h3>Appearance</h3>
    <label for="appname">App name:</label>
    <input id="appname" name="appName" type="text" value="{{app_name()}}"><br />
    <label for="colour">Theme Colour:</label>
    <input id="colour" name="colour" type="color" value="{{colourString}}"><br />
    <label for="bigimage">Main Image<br>
    <div class="filepreview">
      <img id="imagepreview" src="/bigimage.png"><p id="filename"> Click to Upload</p>
    </div></label>
    <input id="bigimage" name="bigimage" type="file" accept=".png" style="display:none;" onchange="updateImagePreview(this)"><br />
    <hr>
    <h3>Leaderboard Settings</h3>
    <input id="hidedayleaderboard" name="hideDayLeaderboard" type="checkbox" {% if ui_settings["hideDayLeaderboard"] %}checked{% endif %}>
    <label for="hidedayleaderboard">Hide daily leaderboard</label><br />
    <label for="leaderboardpassword">Leaderboard page password:</label>
    <input id="leaderboardpassword" name="leaderboardPassword" type="password" value="{{ui_settings["leaderboardPassword"]}}"> <span class="mini underlined clickable" onclick="toggle_password_visibility(this, 'leaderboardpassword')">Show</span><br />
    <input type="submit" value="Apply">
  </form>
</div>
{% endblock %}