{% extends "utils/layout.html" %}
{% block body %}
<div class="login contentw">
    <h1>Login here</h1>
    {% for error in get_flashed_messages() %}
        <div class='error'><h2>{{ error }}</h2></div>
    {% endfor %}
    <a href="/users/authorize" class="googlebtn">Sign in with Google</a>
    <div class="disclaimer">
        <p>
            By clicking the login button you are consenting to our
            <a href="/privacypolicy">Privacy Policy</a>
            and
            <a href="/termsofservice">Terms of Service</a>.
        </p>
    </div>
</div>
{% endblock %}
