{% extends "utils/layout.html" %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    function genchart() {
        var ctx = document.getElementById('myChart');
        {% if labels|length > 0 %}
            console.log("ok");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for i in labels %}"{{ i }}",{% endfor %}],
                    datasets: [{
                        label: "{{ username }}",
                        data: [{% for i in data %}{{ i }},{% endfor %}],
                        borderColor: 'rgba(164, 47, 63, 1)',
                        backgroundColor: 'rgba(164, 47, 63, 0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 42,
                                min: 0
                            }
                        }]
                    }
                }
            });
        {% else %}
            document.getElementsByClassName("chart")[0].setAttribute("style", "display: none;");
        {% endif %}
        ctx.style.width = 0.9 * window.screen.width;
    }

    window.onload = () => {
        genchart();
    }
</script>
{% endblock %}

{% block body %}
<div id="profile" class="profilediv contentw">
    <h1>Welcome back, {{ username }}.
    {% if current_user.get_position() not in ["", None] %}<h3>You are currently position {{current_user.get_position()}} on the leaderboard.</h3>{% endif %}
    </h1>
    <div id="distancediv">
        {% for message in get_flashed_messages() %}
            <div class='message'><p>{{ message }}</p></div>
        {% endfor %}
        <div id='submitdistance'>
            <h2>Submit distance</h2>
            <form id='submitdistanceform'  method="post">
                <div>{{ form.distance.label }}: {{ form.distance(min="0.1", max="42") }}</div>
                {{ form.submit() }}
            </form>
        </div>
    </div>
    <div class="chart">
        <h2>Your Progress:</h2>
        <canvas id="myChart"></canvas>
    </div>
</div>
{% endblock %}
