<!DOCTYPE html>
<html height="100%">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <base target="_top">
    </head>
    <body class="content contentw admindiv">
        <table class="usersearchlist">
            <tr>
                <td class="name">
                    Name
                </td>
                <td class="distance">
                    Distance walked
                </td>
            </tr>
            {% for i in userlist %}
                <tr>
                    <td class="name">
                        <a href="/users/viewprofile/{{i[2]}}">
                            {{i[0]}}
                        </a>
                    </td>
                    <td class="distance">
                        <a href="/users/viewprofile/{{i[2]}}">
                            {{i[1]}} km
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
