<!DOCTYPE html>
<html height="100%">
    <head>
        <title>WCI Walks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{{ url_for('static', filename='wcilogo.ico') }}"/>
        {% block head %}
        {% endblock %}
        <script>
            function toggleMenu() {
                document.getElementById("menu").classList.toggle("hide");
            }
            var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
            window.addEventListener(touchEvent, (e) => {
                if (
                    !e.target.closest("#menubutton") && 
                    !e.target.closest("#menu") && 
                    !document.getElementById("menu").classList.contains("hide")
                ) toggleMenu();
            });
        </script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body onload="{% block onload %}{% endblock %}">
        {% include "utils/navbar.html" %}
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        {% include "utils/footer.html" %}
    </body>
</html>
