{%- if current_user is defined and current_user.is_authenticated %}{%set ui_settings = current_user.get_ui_settings() %}{% else %}{% set ui_settings = get_ui_settings() %}{% endif -%}
{%- macro app_name() -%}{% if current_user is defined and current_user.is_authenticated %}{{ui_settings["appName"]}}{% else %}{{ui_settings["appName"]}}{% endif %}{%- endmacro -%}}
<!DOCTYPE html>
<html height="100%">
    <head>
        <title>{{ app_name() }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2_0_1" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/theme.css">
        <link rel="icon" href="{{ url_for('static', filename='wcilogo.ico') }}"/>
        {% block head %}
        {% endblock %}
        <script>
            function toggleMenu() {
                document.getElementById("menu").classList.toggle("hide");
            }
            var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
            window.addEventListener(touchEvent, (e) => {
                if (
                    !e.target.closest("#menubutton") && 
                    !e.target.closest("#menu") && 
                    !document.getElementById("menu").classList.contains("hide")
                ) toggleMenu();
            });
        </script>
        {% block scripts %}
        {% endblock %}
        <style>
            
        </style>
    </head>
    <body>
        {% include "utils/navbar.html" %}
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        {% include "utils/footer.html" %}
    </body>
</html>
