<!DOCTYPE html>
<html height="100%">
    <head>
        <title>WCI Walks</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <link rel="icon" href="{{ url_for('static', filename='wcilogo.ico') }}"/>
        {% block scripts %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include "utils/navbar.html" %}
        {% block body %}
        {% endblock %}
    </body>
</html>
