<nav>
    <ul>
        <li id="nav-main">
            <a href="/">{{app_name()}}</a>
        </li>
        <li id="menubutton-li">
            <button id="menubutton" onclick="toggleMenu()"><img src="../../static/menu.png" alt="menu"/></button>
        </li>
            <div id="menulist" class="hide">
                {% if current_user is defined and current_user.is_authenticated %}
                    <li>
                        <a href="/users/logout">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/users/login">Log In</a>
                    </li>
                {% endif %}
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                {% if current_user is defined and current_user.is_authenticated %}
                    <li>
                        <a href="/users">Profile</a>
                    </li>
                    {% if current_user.team_name() != None %}
                        <li>
                            <a href="/users/teams">Your Team</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/users/teams">Teams</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_admin() %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
        </div>
    </ul>
    <ul id="menu" class="hide">
        {% if current_user is defined and current_user.is_authenticated %}
            <li>
                <a href="/users/logout">Log Out</a>
            </li>
        {% else %}
            <li>
                <a href="/users/login">Log In</a>
            </li>
        {% endif %}
            <li>
                <a href="/contact">Contact Us</a>
            </li>
        {% if current_user is defined and current_user.is_authenticated %}
            <li>
                <a href="/users">Profile</a>
            </li>
            {% if current_user.is_admin() %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
