<nav>
    <ul>
        <li id="nav-main">
            <a href="/">WCI Walks</a>
        </li>
        <li>
            <button id="menubutton" onclick="toggleMenu()"><img src="../../static/menu.png" alt="menu"/></button>
        </li>
            <div id="menulist" class="hide">
                {% if current_user is defined and current_user.is_authenticated %}
                    <li>
                        <a href="/users/logout">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/users/login">Log In</a>
                    </li>
                {% endif %}
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                {% if current_user is defined and current_user.is_authenticated %}
                    <li>
                        <a href="/users">Profile</a>
                    </li>
                {% endif %}
        </div>
    </ul>
    <ul id="menu" class="hide">
        {% if current_user is defined and current_user.is_authenticated %}
            <li>
                <a href="/users/logout">Log Out</a>
            </li>
        {% else %}
            <li>
                <a href="/users/login">Log In</a>
            </li>
        {% endif %}
            <li>
                <a href="/contact">Contact Us</a>
            </li>
        {% if current_user is defined and current_user.is_authenticated %}
            <li>
                <a href="/users">Profile</a>
            </li>
        {% endif %}
    </ul>
</nav>
