body {
  background-color: black;
}

/* Split the screen in 3 */
.flexy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split {  /* right 2 divs*/
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.largesplit { /*left div*/
  height: 100%;
  width: 45%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  right: 60%;
  width: 40%
}

/* Control the middle side */
.middle {
  right: 30%;
  width: 30%;
}

.right {
  right: 0;
  width: 30%;
}

/* Div inside div: leaderboard, "actions" on left side */
.centered {
  z-index: 3;
}

table { /* makes table*/
    width: 100%;
}
.d {float: right;}  /*table stuff*/
.bold {font-weight: bold;}

.b {

}

.leaderborder {  /* This used to be a pun [border was removed because it was super ugly], I'm too lazy to change*/
    color: white;
    width: 80%;
    height: 90%;
    padding: 5%;
    padding-top: 0;
}

h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.75em;
}
h1 {
    color: white;
}
p {
    color: white;
}
label {
    color: white;
}
.errors {
    color: white;
}
