{% extends "utils/layout.html" %}
{% block scripts %}
<script>
window.onresize = changeLeaderboardDisplay;
function changeLeaderboardDisplay() {
    
    var pxperitem = 10;
    var excludepx = 100;
    for (var i=excludepx; i<document.getElementsByTagName("html")[0].offsetHeight; i=i+pxperitem) {
        document.getElementsByName("alltimeleaderboard".concat(((i-excludepx)/pxperitem).toString()))[0].removeAttribute("hidden");
    }
    for (var i=excludepx; i<document.getElementsByTagName("html")[0].offsetHeight; i=i+pxperitem) {
        document.getElementsByName("yesterdayleaderboard".concat(((i-excludepx)/pxperitem).toString()))[0].removeAttribute("hidden");
    }
}

</script>
{% endblock %}
{% block onload %}changeLeaderboardDisplay(){% endblock %}
{% block body %}
<h1>WCI Walks</h1>
<p>Testing version 0.0.1.</p>
<div id='alltimeleaderboard'>
    {% if alltimeleaderboard|length > 0 %}
        <h1>All Time Leaderboard:</h1>
        {% for i in range(alltimeleaderboard|length) %}
            <div name="alltimeleaderboard{{i}}" hidden>{{alltimeleaderboard[i][0]}}: {{alltimeleaderboard[i][1]}}</div>
        {% endfor %}
    {% else %}
        <h1>No users so far</h1>
    {% endif %}
</div>
<div id='yesterdayleaderboard'>
    {% if yesterdayleaderboard|length >0 %}
        <h1>Yesterday's Leaderboard:</h1>
        {% for i in range(yesterdayleaderboard|length) %}
            <div name="yesterdayleaderboard{{i}}" hidden>{{yesterdayleaderboard[i][0]}}: {{yesterdayleaderboard[i][1]}}</div>
        {% endfor %}
    {% else %}
        <h1>No one did anything yesterday. :(</h1>
    {% endif %}
</div>
{% endblock %}

<!--
Allon's code.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WCI Walks</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="largesplit left flexy">
        <div class="centered b">
            <h2>Jane Flex</h2>
        </div>
    </div>

    <div class="split right flexy">
        <div class="centered leaderborder">
            <h2>Top Scores: Yesterday</h2>
            <table>
                <tr class="bold">
                    <td>1. </td><td>AAA BBB</td><td class="d">10000km</td>
                </tr>
                <tr><td>2. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>3. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>4. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>5. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>6. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>7. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>8. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>9. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>10. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>11. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>12. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>13. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>14. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>15. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>16. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>17. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>18. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>19. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>20. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>21. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>22. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>23. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>24. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>25. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
            </table>
        </div>
    </div>

    <div class="split middle flexy">
        <div class="centered leaderborder">
            <h2>Top Scores: All Time</h2>
            <table>
                <tr class="bold">
                    <td>1. </td><td>AAA BBB</td><td class="d">10000km</td>
                </tr>
                <tr><td>2. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>3. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>4. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>5. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>6. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>7. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>8. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>9. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>10. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>11. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>12. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>13. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>14. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>15. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>16. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>17. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>18. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>19. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>20. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>21. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>22. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>23. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>24. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
                <tr><td>25. </td><td>AAAAAAAAAAAAA BBB</td><td class="d">2km</td></tr>
            </table>
        </div>
    </div>
</body>
</html>
-->
