{% extends "utils/layout.html" %}
{% block body %}
<!--<h1>WCI Walks</h1>
<p>Testing version 0.0.1.</p>
<div id='alltimeleaderboard'>
    {% if alltimeleaderboard|length > 0 %}
        <h1>All Time Leaderboard:</h1>
        {% for i in range([alltimeleaderboard|length, 20] | min) %}
            {{i}} - {{alltimeleaderboard[i][0]}}: {{alltimeleaderboard[i][1]}}
        {% endfor %}
    {% else %}
        <h1>No users so far</h1>
    {% endif %}
</div>
<div id='yesterdayleaderboard'>
    {% if yesterdayleaderboard|length >0 %}
        <h1>Yesterday's Leaderboard:</h1>
        {% for i in range([yesterdayleaderboard|length, 20] | min) %}
            {{i}} - {{yesterdayleaderboard[i][0]}}: {{yesterdayleaderboard[i][1]}}</div>
        {% endfor %}
    {% else %}
        <h1>No one did anything yesterday. :(</h1>
    {% endif %}
</div>
-->

<!--Allon's code.-->
    <div class="largesplit left flexy">
        <div class="centered b">
            <h2>Jane Flex</h2>
        </div>
    </div>

    <div class="split right flexy">
        <div class="centered leaderborder">
            {% if yesterdayleaderboard|length > 0 and yesterdayleaderboard[0][1] > 0 %}
                <h2>Top Scores: Yesterday</h2>
                <table>
                    <tr class="bold"><td>1 - {{yesterdayleaderboard[0][0]}}</td><td class="d">{{yesterdayleaderboard[0][1]}}km</td></tr>
                    {% for i in range(1, [yesterdayleaderboard|length, 21] | min) %}
                        {% if yesterdayleaderboard[i][1]>0 %}<tr><td>{{i+1}} - {{yesterdayleaderboard[i][0]}}</td><td class="d">{{yesterdayleaderboard[i][1]}}km</td></tr>{% endif %}
                    {% endfor %}
                </table>
            {% else %}
                <table><tr><td><h2>No one's gone anywhere :(</h2></td></tr></table>
            {% endif %}
        </div>
    </div>

    <div class="split middle flexy">
        <div class="centered leaderborder">
            {% if alltimeleaderboard|length > 0 and alltimeleaderboard[0][1] > 0 %}
                <h2>Top Scores: All Time</h2>
                <table>
                    <tr class="bold"><td>1 - {{alltimeleaderboard[0][0]}}</td><td class="d">{{alltimeleaderboard[0][1]}}km</td></tr>
                    {% for i in range(1, [alltimeleaderboard|length, 21] | min) %}
                        {% if alltimeleaderboard[i][1]>0 %}<tr><td>{{i+1}} - {{alltimeleaderboard[i][0]}}</td><td class="d">{{alltimeleaderboard[i][1]}}km</td></tr>{% endif %}
                    {% endfor %}
                </table>
            {% else %}
                <table><tr><td><h2>No one went anywhere yesterday.</h2></td></tr></table>
            {% endif %}
        </div>
    </div>
{% endblock %}
