{% extends "utils/layout.html" %}
{% block body %}
    <h1>Sign up page</h1><br />
    <p>{{ error }}</p>
    <form id='signupform' action='/users/signup' method='post'>
        <div>{{ userform.username.label }}: {{ userform.username() }}</div>
        {% if userform.username.errors %}
            <ul class="errors">
                {% for error in userform.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{ userform.email.label }}: {{ userform.email() }}</div>
        {% if userform.email.errors %}
            <ul class="errors">
                {% for error in userform.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{ userform.password.label }}: {{ userform.password() }}</div>
        {% if userform.password.errors %}
            <ul class="errors">
                {% for error in userform.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{ userform.confirmpassword.label }}: {{ userform.confirmpassword() }}</div>
        {% if userform.confirmpassword.errors %}
            <ul class="errors">
                {% for error in userform.confirmpassword.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ userform.submit }}
    </form>
{% endblock %}
