<!DOCTYPE html>
<html>
    <head>
        <title>WCI Walks</title>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <link rel="icon" href="{{ url_for('static', filename='wcilogo.ico') }}"/>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">WCI Walks</a></li>
                <li><a href="/users">Profile</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
